### for running multigit
pyside2
concurrent-log-handler

### for developing multigit

# type verification
mypy
pyside2-stubs

# running tests
pytest<8

# packaging under Windows
pyinstaller

# generating what's new
markdown2

# verifying multigit file format
jsonschema-cli
