# Use me by typing:
#    pip-compile requirements-dev.in


# for running multigit
pyside2
concurrent-log-handler

# for developing multigit
pip-tools
mypy
pyside2-stubs
pytest
pyinstaller
markdown2
pytest
jsonschema-cli
