### for running multigit
pyside6
concurrent-log-handler

### for developing multigit

# type verification
mypy
pyside6-stubs

# running tests
pytest # <8

# packaging under Windows
pyinstaller>=5.13.1

# generating what's new
markdown2

# verifying multigit file format
jsonschema-cli

# for flatpak pip commands generation
requirements-parser 
