### for running multigit
pyside6
concurrent-log-handler

### for developing multigit

# the last version to have a wheel. After that, it trigger a build which is kind of annoying
pyyaml==5.3.1

# type verification
mypy
pyside6-stubs

# running tests
pytest # <8

# packaging under Windows
pyinstaller>=5.13.1

# generating what's new
markdown2

# verifying multigit file format
jsonschema-cli
