
name: Continuous Integration

env:
  QT_QPA_PLATFORM: "offscreen"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-windows:

    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          # oldest supported version of python
          - python-version: "3.7"

          # limit python version to 3.10 due to Pyside2
          # not supported at the moment, fix that later
          - python-version: "3.10"

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - name: Install dependencies
        run: |
          python -m pip install -r requirements.txt
          pip list

      - name: run tests
        run: |
          pytest

  test-linux:

    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          # oldest supported version of python
          - python-version: "3.7"

          # limit python version to 3.10 due to Pyside2
          # not supported at the moment, fix that later
          - python-version: "3.10"


    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: pip

    - name: Install dependencies
      run: |
        python -m pip install -r requirements.txt
        pip list

    - name: run tests
      run: |
        pytest

    - name: run type checking

      # mypy of Python 3.7 does not support everything we use
      if: ${{ matrix.python-version }} >= '3.8'
      run: |
        mypy .
